<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error</title>
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../public/css/reset.css">
</head>
<body>
  <nav id="top-navbar">
    <ul id="navbar-list">
      <li class="navbar-item"><a class="current-page" href="/">Home</a></li>
      <li class="navbar-item"><a href="/about">About</a></li>
      <li class="navbar-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <main>
      <h1 class="title">404 Error! Page Not Found</h1>
  </main>

</body>
</html>