<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="stylesheet" href="/reset.css">
</head>
<body>
  <nav id="top-navbar">
    <ul id="navbar-list">
      <li class="navbar-item"><a href="/">Home</a></li>
      <li class="navbar-item"><a class="current-page" href="/about.html">About</a></li>
      <li class="navbar-item"><a href="/contact.html">Contact</a></li>
    </ul>
  </nav>
  <main>
    <h1 class="title">About Us</h1>
    <p class="description">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet quis consequatur nemo soluta vitae consequuntur quae neque placeat. Explicabo, beatae. Quos quas autem possimus harum aperiam repudiandae voluptate quasi, quis non dolore doloremque labore nisi, sed, velit eveniet officia ipsum fugit incidunt. Veniam maiores rem amet vitae tempora, autem, accusamus ullam atque culpa officia est possimus, minima perspiciatis velit quaerat. Enim repudiandae, mollitia minus quibusdam voluptatem id aliquam quod dignissimos in? Suscipit nobis cumque doloremque voluptatibus animi sed iure illum, repellat, dolores explicabo quasi? Mollitia ratione repudiandae accusantium, expedita molestiae porro totam asperiores, reiciendis itaque quae voluptas iste harum corrupti quibusdam delectus sapiente enim neque, magni fugiat quas eaque architecto dignissimos. Eos similique debitis recusandae consequuntur soluta sit, quis adipisci, aut in inventore molestiae sequi!
    </p>
  </main>
</body>
</html>