<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="../public/css/styles.css">
  <link rel="stylesheet" href="../public/css/reset.css">
</head>
<body>
  <nav id="top-navbar">
    <ul id="navbar-list">
      <li class="navbar-item"><a class="current-page" href="/">Home</a></li>
      <li class="navbar-item"><a href="/about">About</a></li>
      <li class="navbar-item"><a href="/contact">Contact</a></li>
    </ul>
  </nav>
  <main>
      <h1 class="title">Welcome to this Node.js Application</h1>
      <h2 class="home-title">This is the 'Home' page</h2>
      <p class="description">
        This app is made using 'vanilla' Node.js as a web server. No frameworks have been used. It will be updated to Express at a later point as part of another assignment.
      </p>
  </main>

</body>
</html>